*{
    margin: 0   ;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
body{
    background-color: #457b9d;
}
select{
    font-size: 20px;
    text-align: center;
    width: 150px;
    height: 50px;
}
label{
    padding-left: 20px;
    font-size: 20px;
    transition: 2s all;
}
input{
    padding: 5px;
}
.main-container{
    width: 100%;
    height: 1000px;
    margin: auto;
    padding-top: 200px;
}
.checknone{
    display: none;

}
.card-kap{
    width: 100%;
    height: 200px;
    position: relative;
    display: block;
    transform: translateX(9%);
}
.card-top img{
    height: 100%;
    box-sizing: border-box;
    margin: 0 20px 0 20px;
}
.card-top{
    height: 70px;
    display: flex;
    justify-content: space-between;
}
.card-mid{
    margin: auto;
    margin-top: 25px;
    margin-bottom: 20px;
    height: 60px;
    width: 90%;
    font-size: 30px;
    text-align: center;
    letter-spacing: 2px;
    border: 2px solid white;
    border-radius: 5px;
    padding-top: 5px;
}
.inp-body input{
    border: 1px solid black;
    width: 90%;
    height: 50px;
    display: block;
    margin: auto;
}
.container{
    background-color: white;
    box-shadow: 0px 5px 2px black;
    width: 600px;
    height: 600px;
    border-radius: 15px;
    margin: auto;
}
.card{
    color: white;
    border-radius: 10px;
    position:absolute;
    top: -80px;
    margin: auto;
    width: 450px;
    height: 250px;
    background-image: url(card-img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backface-visibility: hidden;
    /* transform: rotateX(180deg); */
    transition: 2s all;
}
.card-arka{
    color: white;
    border-radius: 10px;
    position:absolute;
    top: -80px;
    margin: auto;
    width: 450px;
    height: 250px;
    background-image: url(card-img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backface-visibility:hidden;
    transform: rotateY(180deg);
    transition: 2s all;
}
.card-top-arka{
    margin-top: 20px;
    height: 60px;
    background-color: black;
}
.card-mid-arka{
    width: 350px;
    height: 60px;
    background-color: white;
    margin: auto;
    margin-top: 20px;
    border-radius: 20px;
    color: black;
    text-align: end;
    padding-top: 15px;
    padding-right: 5px;
}
.card-bt-arka{
    width: 100%;
    height: 60px;
}
.card-bt-arka img{
    margin-top: 20px;
    margin-right: 20px;
    width: 20%;
    float: right;
}
.inp-alt{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.inp-alt input{
    font-size: 20px;
    text-align: center;
    width: 150px;
    height: 50px;
}
.inp-btn{
    color: white;
    border-radius: 5px;
    border: none;
    margin: auto;
    display: block;
    width: 90%;
    height: 60px;
    background-color: #1d3557;
    margin-top: 40px;
    font-size: 25px;
}
.card-bt{
    height: 80px;
    display: flex;
    justify-content: space-between;
}
.card-year{
    padding-right: 20px;
}
.card-bt-left span{
    margin-left: 5px;
    font-size: 14px;
}
.card-bt-right{
    padding-top: 20px;

}
.card-holder{
    font-size: 18px;
    padding-left: 10px;
}
.card-arka-span{
    font-size: 14px;
    color: gray;
    position: absolute;
    top: 40%;
    right: 14%;
}
/* Responsive */

@media screen and (max-width: 950px){
    .container{
        width: 500px;
        height: 550px;
    }
    .card-kap{
        height: 150px;
        padding-left: 15px;
    }
    .card{
        width: 380px;
        height: 200px;
    }
    .card-top{
        height: 50px;
    }
    .card-mid{
        font-size: 22px;
        height: 60px;
    }
    .card-bt-left span{
        font-size: 15px;
        padding-left: 10px;
    }
    .card-holder{
        font-size: 15px;
    }
    .card-bt-right{
        font-size: 15px;
    }
    .card-arka{
        width: 380px;
        height: 200px;
    }
    .card-top-arka{
        height: 40px;
    }
    .card-mid-arka{
        height: 40px;
        font-size: 16px;
        padding-top: 12px;
        padding-right: 10px;
    }
    .card-bt-arka img{
        width: 15%;
    }
    .card-arka-span{
        right: 9%;
    }
    .inp-alt-item{
        width: 100px;
    }
    .inp-btn{
        margin-top: 20px;
        height: 40px;
    }

}
@media screen and (max-width: 622px){
    .container{
        width: 400px;
        height: 480px;
        margin: auto;
    }
    .card-kap{
        height: 100px;
        padding-left: 14px;
    }
    .card{
        width: 300px;
        height: 180px;
    }
    .card-top{
        height: 50px;
    }
    .card-mid{
        margin-top: 10px;
        font-size: 22px;
        height: 40px;
    }
    .card-arka{
        width: 300px;
        height: 180px;
    }
    .card-top-arka{
        height: 35px;
    }
    .card-mid-arka{
        width: 280px;
        height: 40px;
        font-size: 16px;
        padding-top: 12px;
        padding-right: 10px;
    }
    .card-bt-arka img{
        width: 15%;
    }
    .card-arka-span{
        right: 8%;
    }
    .inp-alt-item{
        width: 80px;
    }

}
@media screen and (max-width: 596px){
    .container{
        margin: auto;
    }
}
@media screen and (max-width: 492px){
    .container{
        width: 300px;
        height: 350px;
    }
    .card-kap{
        width: 100px;
        height: 80px;
        padding-left: 15px;
    }
    .card{
        width: 250px;
        height: 150px;
    }
    .card-top{
        height: 30px;
    }
    .card-mid{
        padding: 0;
        margin-top: 18px;
        font-size: 16px;
        height: 30px;
    }
    .card-bt-left span{
        font-size: 13px;
        padding-left: 7px;
    }
    .card-holder{
        font-size: 13px;
    }
    .card-bt-right{
        font-size: 12px;
    }
    .card-arka{
        width: 250px;
        height: 150px;
    }
    .card-top-arka{
        height: 30px;
    }
    .card-mid-arka{
        height: 30px;
        margin-top: 10px;
        font-size: 13px;
        padding-top: 12px;
        padding-right: 10px;
        width: 230px;
    }
    .card-bt-arka img{
        width: 15%;
    }
    .card-arka-span{
        font-size: 11px;
        right: 8%;
    }
    .inp-alt-item{
        width: 100px;
    }
    .inp-body label{
        font-size: 15px;
    }
    .inp-body input{
        height: 35px;
    }
    .inp-alt-item{
        height: 40px;
        width: 70px;
    }
    .inp-alt input{
        height: 40px;
        width: 60px;
    }
    .inp-btn{
        margin-top: 20px;
        height: 40px;
    }

}
